/* Default styles for both mobile and large screens */
.container {
    display: flex;
    background-color: #0E141B;
    padding: 15% 10% 0px 10%;
    /* align-items: center; Center vertically */
}

.about {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; Center horizontally and vertically */
}

.about h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left; 
}

.about p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-top: 40px; /* Increase the margin to move the text down */
}

.cta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.cta button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins';
    font-style: normal;
    cursor: pointer;
}

.cta button:hover {
    opacity: 0.6;
}

.cta button:nth-child(1) {
    background-color: #13B0F5;
    color: beige;
}

.imageContainer {
    flex: 1;
}

.imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Styles for screens with a maximum width of 600px (typical mobile screens) */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 12% 2% 0 2%;
    }

    .about h1 {
        font-size: 26px;
        margin-top: 60px; /* Increase margin to move "Hi" down */
    }

    .about p {
        font-size: 16px;
        margin-top: 20px; /* Adjust the margin as needed for proper spacing */
    }
}
