.container {
    background-color:#0E141B;
    padding: 15% 10% 0px 10%;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 26px;
    color: #E5E5E5;
    margin-bottom: 20px;
}

.description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 50px;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 100px;
}

.project {
    flex-basis: 80px;
    background: #FFFFFF;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
    height: 350px;
}

.projectImage {
    height: 150px;
    width: 260px;
    border-radius: 20px 20px 0px 0px;
}

.project h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    padding: 10px;
}

.project h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #42446E;
    padding: 10px;
}

.aboutProjectImage h2 span {
    font-weight: 600;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1890ff;
    font-weight: 700;
    font-size: 18px;
}

.link {
    display: flex;
    align-items: center;
    gap: 5px;
}


@media only screen and (max-width: 800px) {
    .title {
        font-size: 32px;
    }
    .description {
        font-size: 16px;
    }

    .projects {
       align-items: center;
       justify-content: center;
       flex-direction: column;
       flex-wrap: nowrap;
       margin-left: 0px;
    }
    .projectImage {
        width: 100%;
    }
  }