.container {
    height: 180vh;
    width: 100%;
    background-color:#0E141B;
}

.aboutSkill {
    height: 30vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.aboutSkill span:nth-child(1) {
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 26px;
    color: #E5E5E5;
    margin-bottom: 20px;
}

.aboutSkill span:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;

}

.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 10%;
}

.project {
    min-width: 200px;
    background: #FFFFFF;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.projectImage img{
    height: 150px;
    width: 250px;
    border-radius: 20px 20px 0px 0px;
}

.aboutProjectImage {
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.aboutProjectImage h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.aboutProjectImage h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #42446E;
}
.aboutProjectImage h2 span{
    font-weight: 600;
}
.projectLink{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    color: #1890ff;
    font-weight: 500;
    font-size: 14px;
}
.liveLink{
    display: flex;
    gap: 5px;
    
}
.githubLink{
    display: flex;
    gap: 5px;
}