.container {
    background-color: #0E141B;
}

.articleHeader {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -0.4px;
    color: #E5E5E5;
    text-align: left;
    padding-top: 50px;
    padding-left: 70px;
}
.blogSection{
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 20px;
}
.blogContainer {
    width: 300px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 30px;
    background-color:#286DF1;
}

.blogImage{
    height: 150px;
}
.blogImage img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.blog{
    cursor: pointer;

}

.blog h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 5px;
    color: #FFFFFF;
}

.date {
    display: flex;
    justify-content: space-around;
}

.date span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;

    color: #FFFFFF;
}